@import "../../../node_modules/bootstrap/scss/functions";
// Including bootstrap

// Changing type
$font-family-monospace: 'Inconsolata', monospace;
$display-font-family: $font-family-monospace;

// Theme colors
$theme-main: #ff8000;
$theme-secondary: #007fff;
$theme-tertiary: #80bfff;
$theme-success: #00c600;
$theme-warning: #ff5e00;
$theme-danger: #bb551a;
$theme-medium: #0071b3;
$theme-light: #ffa64d;
$theme-b-one: #b4cad8;
$theme-b-two: #5285a4;

// Changing bootstrap colors
$primary:       #00ff4c;
$secondary:     #505059;
$success:       #0c8410;
$info:          #0dcaf0;
$warning:       #ffc107;
$danger:        #dc3545;
$light:         #f8f9fa;
$dark:          #212529;
$theme:         $theme-main;
$theme-secondary: $theme-secondary;
$theme-border:  $theme-secondary;
$theme-btn:     $theme-secondary;

$custom-colors: (
  "theme": $theme,
  "theme-secondary": $theme-secondary,
  "theme-tertiary": $theme-tertiary,
  "theme-bg-sec": $theme-b-two,
  "theme-border": $theme-border,
  "theme-btn": $theme-btn,
  );
  
  $theme-colors: (
    "primary":    $primary,
    "secondary":  $secondary,
    "success":    $success,
    "info":       $info,
    "warning":    $warning,
    "danger":     $danger,
    "light":      $light,
    "dark":       $dark
    );

$theme-colors: map-merge($theme-colors, $custom-colors);

// Removing border-radius
$border-radius: 0;

// Changing form control
$component-active-bg: $theme-main;
$input-focus-border-color: $theme;


//Changing dropdown hover
$dropdown-link-hover-bg: shade-color($theme, 5%);

// Changing font
h1, h2, h3, h4, h5, h6, p, a, button {
  font-family: "Inconsolata", monospace !important;
}

*{
  scroll-behavior: smooth;
}

.post-image {
  width: 50px !important;
}

.text-small {
  font-size: 11px;
}
